<div class="template modal" style="width: 320px;">
    <div class="modal-header">
        <h1 class="dialog-title">Select a Build</h1>
    </div>
    <div class="modal-body">
        <form>
            <div class="input-group">
                <select name="build_name" id="build_name" style="width:290px;" class="form-control">
                    {{#builds}}
                    <option value="{{.}}">{{.}}</option>
                    {{/builds}}
                </select>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="dialog-button btn " data-button-id="cancel">Cancel</button>
        <button class="dialog-button btn select-button primary" id="select-button" data-button-id="select-button">Use</button>
    </div>
</div>
