<div class="template modal" style="width: 320px;">
    <div class="modal-header">
        <h1 class="dialog-title">Select a Build</h1>
    </div>
    <div class="modal-body">
        <h4 style="margin-top: 0;">{{cmd}}</h4>

        <hr style="margin: 5px 0; border-bottom: 0; border-color: #c3c6c5;"/>

        <form>
            <div class="input-group">
                <label for="build_name">Select Build:</label>
                <select name="build_name" id="build_name" style="width:290px;" class="form-control">
                    {{#builds}}
                    <option value="{{.}}">{{.}}</option>
                    {{/builds}}
                </select>

                {{#inspector}}
                <input type="checkbox" name="inspector" id="inspector" /> Sencha Inspector
                <input type="text" name="inspector_address" id="inspector_address" disabled="disabled" placeholder="http://localhost:1839/" value="{{inspector_address}}" />
                {{/inspector}}
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="dialog-button btn " data-button-id="cancel">Cancel</button>
        <button class="dialog-button btn select-button primary" id="select-button" data-button-id="select-button">Use</button>
    </div>
</div>
