<div class="template modal">
    <div class="modal-header">
        <h1 class="dialog-title">Download a Fiddle</h1>
    </div>
    <div class="modal-body">
        <!--<div class="dialog-message">{{{message}}}</div>-->
        <form>
            <div class="input-group">
                <span class="input-group-addon">@</span>
                <input type="text" name="fiddle" class="form-control fiddle-url" placeholder="Fiddle URL or ID" value="ka1">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="dialog-button btn download-button btn-primary" id="download" data-button-id="download">Download</button>
    </div>
</div>