<div class="template modal" style="width: 300px;">
    <div class="modal-header">
        <h1 class="dialog-title">Download a Fiddle</h1>
    </div>
    <div class="modal-body">
        <form>
            <div class="input-group">
                <input type="text" name="fiddle" class="form-control fiddle-url" placeholder="Fiddle URL or ID" style="width: 260px;">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="dialog-button btn " data-button-id="cancel">Cancel</button>
        <button class="dialog-button btn download-button primary" id="download" data-button-id="download" disabled>Download</button>
    </div>
</div>